<%- include('./header.ejs')%>
    <form id="form1">
        <input type="hidden" name="id" value="<%= id %>">
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">用户名：</span>
            <input type="text" value="<%= name %>" name="name" class="form-control">
        </div>

        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">年龄：</span>
            <input type="number" min="0" max="200" value="<%= age %>" name="age" class="form-control">
        </div>

        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">性别：</span>
            <input type="text" name="gender" value="<%= gender %>" class="form-control">
        </div>

        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">地址：</span>
            <input type="text" name="adress" value="<%= adress %>" class="form-control">
        </div>
        <input type="submit" value="添加用户" class="btn btn-primary">
    </form>
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>

    <script>
        $('#form1').on('submit', function(e) {
            e.preventDefault();
            $.ajax({
                url: '/edit',
                type: "post",
                data: $("#form1").serialize(),
                dataType: 'json',
                success: function(res) {
                    // conosle.log(res)
                    if (res.err_code == 0) {
                        location.href = '/'
                    }
                }

            })
        })
    </script>
    <%- include('./fotter.ejs')%>