<%- include('./header.ejs')%>

    <h1>查看用户信息--

    </h1>
    <h3>id:
        <%= id %>
    </h3>
    <h3>name:
        <%= name %>
    </h3>
    <h3>
        age:
        <%= age %>
    </h3>
    <h3>
        gender:
        <%= gender %>
    </h3>


    <%- include('./fotter.ejs')%>